<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1> Welcome to the best website under construction! </h1>
    <p> You won't find a website better than this. </p>
</body>
</html>